<div class="flex" style="height: 100%; width: 100%">
  <div id="nav" class="flex">
    <mat-drawer-container class="nav-container" autosize>
      <mat-drawer #drawer class="sidenav" mode="side">
        <ul>
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/vertex-graph-maker">Vertex Graph Maker</a></li>
        </ul>
      </mat-drawer>
    </mat-drawer-container>
  </div>

  <div class="flex column flex-1">
    <div id="menu" class="flex menu-container">
      <mat-toolbar>
        <button
          mat-icon-button
          (click)="drawer.toggle()"
          aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Vertex Graph</span>
        <span class="flex-1"></span>
        <a
          class="flex flex-center"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/riancorry/">
          <mat-icon class="neutral-icon">person</mat-icon>
        </a>
      </mat-toolbar>
    </div>
    <div id="content" class="flex flex-1 content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
