mat-radio-button:first-child {
  padding: 0px 16px;
}

mat-radio-button:not(:first-child) {
  padding-right: 16px;
}

textarea {
  height: 44vh;
  width: 48vw;
  border-radius: 8px;
  outline: none;
  border: 2px solid var(--dark);
  border-radius: 8px;
  background-color: var(--white);
  color: var(--carbon);
  font-weight: 800;
}

.error-message {
  color: red;
  font-weight: 500;
  text-align: center;
}

textarea::placeholder {
  text-align: center;
  padding-top: 16px;
}
